.nav-open nav {
	border-bottom: 1px dotted rgba(255, 255, 255, .2);
	padding: 10px 0;
	a {
		display: block;
		padding: 30px 0;
	}

	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}
	}
}

nav {
	text-transform: uppercase;
	font-size: .8em;
	width: 100%;
	position: relative;
	top: -7px;
	text-shadow: none;

	@media #{$mid-point} {
		padding: 0 20px;
		display: inline;
	}

	a {
		margin: 0 3px;
		padding: 14px 10px;
		border: 0;
		display: none;

		@media #{$mid-point} {
			display: inline;
			border-bottom: 1px solid rgba(255, 255, 255, 0);
			color: rgba(255, 255, 255, .8);
		}

		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: 0px; /* Adjust the vertical position */
			font-size: 2.5em; /* Increase font size for better visibility */
			padding: 10px; /* Add padding to make it easier to click */
			cursor: pointer; /* Change cursor to pointer */
			border: 0;
			text-shadow: 0;
			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
				color: rgba(255, 0, 0, 1); /* Add a hover effect */
			}
		}
	}

	a.active {
		border-bottom: 5px solid #ffa74d;
	}
}

