/* Ensure navbar links are hidden initially on mobile */
.nav-open nav a {
	display: block;
	padding: 10px 0;
}

/* Ensure nav-toggle (hamburger) is visible */
nav a.nav-toggle {
	display: block;
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 2.5em; /* Increase hamburger icon size */
	padding: 0 !important;
}

/* When nav is opened, display the links */
.nav-open nav a {
	display: block;
	font-size: 1.2em;
}

/* Navbar on larger screens */
@media (min-width: 768px) {
	nav a {
		display: inline-block;
		padding: 14px 10px;
	}

	nav a.nav-toggle {
		display: none; /* Hide hamburger icon on larger screens */
	}
}
