---
layout: default
title: Home
---


{% assign pinned_post = site.posts | where: "pinned", true | first %}

<!-- Debugging Information -->
<div>
  <h2>Pinned Post Debug</h2>
  {% if pinned_post %}
    <p>Title: {{ pinned_post.title }}</p>
    <p>URL: {{ pinned_post.url }}</p>
    <p>Image: {{ pinned_post.image }}</p>
  {% else %}
    <p>No pinned post found.</p>
  {% endif %}
</div>

{% if pinned_post %}
  <!-- Include the pinned post -->
  {% include featured-post.html post=pinned_post %}
{% endif %}

<!-- List other posts excluding the pinned one -->
{% for post in paginator.posts %}
  {% unless post.pinned %}
    {% include featured-post.html post=post %}
  {% endunless %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
